/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #656589;
    /* background: rgba(21, 20, 75, 0.8); */
    /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(21, 20, 75);
}
